.App {
  background-color: #282c34;
  box-sizing: border-box;
  height: 100vh;
  padding: 35px;
  text-align: center;
  overflow-y: auto;
    max-height: 100vh;
}

.App__reportings {
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 20px;
}

.App__reportings > div:first-child {
  width: 60%;
}

.App__reportings > div:last-child {
  width: 40%;
}