.App {
  background-color: #282c34;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  padding: 35px;
  text-align: center;
  overflow-y: auto;
}

.App__reportings {
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 20px;
}

.App__reportings > div:first-child {
  width: 60%;
}

.App__reportings > div:last-child {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 15px;
  }

  .App__reportings {
    flex-direction: column;
  }

  .App__reportings > div:first-child {
    width: 100%;
  }

  .App__reportings > div:last-child {
    width: 100%;
  }
}
